* {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    margin-top: -5px;
    position: fixed;
    width: 100%;
    text-align: center;
}

#titulo {
    font-size: 40px;

}

#foto {
    text-align: center;
    padding-top: 175px;
}

img {
    width: 16%;
    border-radius: 50px;
    background: #315e42;
    box-shadow: 20px 20px 60px #2a5038,
        -20px -20px 60px #386c4c;
}